.cb1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

.t1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 2.2rem;
}
.t2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.t3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: large;
}

.background_img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url("../image/logs1.jpeg"); 
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% 100%;
    filter: grayscale(100%) brightness(80%) contrast(120%);
    z-index: -1; 
}


body{
    background-color: #0693e3;
}

.hidden {
    display: none;
}

#upBtn {
    font-size: 15px;
    bottom: 20px;
    right: 15px;
    background-color: #2c3ce6;
    color: #fff240;
    text-decoration: none;
    padding: 11px 0 9px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
  
  }
  