@media screen {
    p.bodyText {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
}

@media print {
    p.bodyText {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #printText {
        display: block;
        overflow-y: visible;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #printbtn {
        display: none;
    }

    .noprint {
        display: none;
    }

    .print {
        background-color: white;
        box-shadow: none;
    }

    table {
        table-layout: fixed;
    }

    @page {
        size: landscape;
    }
}

@media screen, print {
    p.bodyText {
        font-size: 8pt;
    }
}
